#Single {
    background-color: rgb(255 252 247);
}

.fluid {
    height: 20vh;
}

.row img {
    width: 40vw;
}

.gallery-rows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 8em;
    padding-bottom: 75vh;
}

.gallery-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    margin: auto;
}

@media (max-width: 700px) {
    .single .container .top-row {
        height: 30vh !important;
    }
    .single .container .top-row .top .model span {
        font-size: 1.85em !important;
    }
    .single .container .top-row .top .model .first {
        margin-right: 0.75em !important;
    }
    .detailed-information .container .row {
        margin-top: 80vh !important;
    }
    .detailed-information .row {
        flex-direction: column;
    }
    .detailed-information .row p,
    .gallery-text p{
        width: 24em !important;
    }
    .gallery-rows {
        margin-top: 30em;
        padding-bottom: 4em;
    }
    .gallery-item {
        flex-direction: column;
    }
    .gallery-item div {
        height: auto !important;
    }
    .gallery-image {
        opacity: 1 !important;
        width: 90vw !important;
        transform: translate(0,0) !important;
    }
    .gallery-text {
        width: 90vw !important;
        margin-top: 2em !important;
        margin-bottom: 6em !important;
        padding-left: 2em !important;
    }
}

.gallery-item div {
    height: 75vh;
    align-items: center;
}

.gallery-image {
    opacity: 0;
    transform: translateY(-50px); 
    width: 50vw; 
    height: auto;
}

.gallery-image img {
    width: 100%; 
}

.gallery-text {
    width: 35vw;
    height: 25em;
    font-size: 0.95em;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
    padding-left: 4em;
}

.description-title {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
}

.small {
    width: 10em;
}

.single .container .top-row {
    height: 40vh;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.single .container .top-row .top {
    padding-bottom: 40px;
}

.single .container .top-row .top .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .85em;
}

.single .container .top-row .top .details .subject {
    margin-left: 16px;
    text-transform: uppercase;
}

.single .container .top-row .top .model {
    overflow: hidden;
}
.single .container .top-row .top .model .first {
    margin-right: 72px;
}
.single .container .top-row .top .model span {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 2.75em;
    font-family: "Maragsa";
}

.single .container .bottom-row .bottom {
    height: 100%;
    width: 100%;
}

.single .container .bottom-row .bottom .thumbnail-single {
    width: 100%;
    height: 800px;
    margin: 0 auto;
    text-align: center;
}

.single .container .bottom-row .bottom .thumbnail-single .frame-single img {
    width: 98vw;
    height: 60vh;
    object-fit: cover;
}

.single .container .bottom-row .scroll-for-more {
    visibility: hidden;
    position: absolute;
    bottom: 200px;
    left: 200px;
    z-index: 20;
}

.single .container .bottom-row .scroll-for-more .icon svg {
    height: auto;
    width: 28px;
}

.single .container .bottom-row .scroll-for-more .text {
    margin-top: 8px;
    color: white;
    text-transform: uppercase;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    margin: 1em 1em;
  }
  
.navlinks img {
    width: 150px;
}

.navlinks img:hover {
    opacity: 0.75;
}

.navlinks p {
    width: 150px;
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;
    color: rgb(57, 57, 57);
}
  
.navlinks a {
    text-decoration: none;
    margin: 1em 2em;
}

.detailed-information {
  height: 50vh;
  text-align: left;
  margin: 10em 1em 0 1em;
}

.detailed-information .container .row {
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 90vh;
}

.detailed-information .container .row h2 {
    font-size: 24px;
    width: 12em;
    padding: 1em;
}

.detailed-information .container .row p {
    font-size: 0.95em;
    line-height: 28px;
    font-weight: 400;
    width: 50em;
    padding: 1em;
}

.detailed-information .container .row .button {
    display: block;
    width: fit-content;
    text-decoration: none;
    margin-top: 2em;
    padding: 1em 1.5em;
    font-family: "bagatela", serif;
    font-size: 14px;
    background-color: rgb(125, 92, 41);
    color: white;
    border: none;
    border-radius: 10px;
}

.button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.canvas-container {
  width: 100vw;
  height: 1000px;
  position: absolute;
  top: 15vh;
  z-index: 999;
  pointer-events: none;
}

.infinite-scroll-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}